#Main {
  background-color: #f5f5f5;
  padding: 0.5em;
}

#loading-icon {
  text-align: center;
}

.Search-Map-Container {
  display: grid;
  grid-template-columns: 23em auto;
  grid-column-gap: 1em;
}
