#Search {
  /* background-color: burlywood; */
}
.searchBar-ReloadButton-Container {
  /* background-color: black; */
  display: grid;
  grid-template-columns: 17em auto;
  grid-column-gap: 5px;
  /* background-color: rgb(18, 97, 245); */
}

button .material-icons {
  font-size: 3em;
  color: black;
}
#display-Incident-Number {
  font-weight: bold;
  margin: 5px 0px;
}
