#SearchResults {
  background-color: white;
  margin: 0.5em 1em;
  letter-spacing: 0.5px;
}

table th {
  background-color: rgb(209, 209, 209);
  padding: 1em;
}

#SearchResults tr:nth-child(even) {
  background-color: #f2f2f2;
}

